<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <p>Post Id <%= post.id%></p>
     
    <p>Post username @<%= post.username%></p>
      <br>
    <form method="POST" action="/posts/<%=post.id%>?_method=PATCH">
       <textarea rows="10" cols="50" name="content"> <%= post.content%>  </textarea>
       <br>
       <br>
       <button>submit Post</button>
    </form>
</body>
</html>